body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  font-size: 16px;
  color: #434455;
}

:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #fff;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.list {
  list-style: none;
}

.header-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.header-logo-span {
  color: var(--navyblue);
}

.link {
  text-decoration: none;
}

.header-item-link {
  color: var(--navyblue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-item-link:active,
.header-item-link:hover,
.header-item-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.header-address-link {
  color: var(--slate);
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

.hero {
  background-color: var(--navyblue);
}

.hero-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-button {
  background-color: var(--iris);
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.hero .hero-button:hover,
.hero .hero-button:focus {
  background-color: var(--ocean);
}

.pros-list-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.pros-list-text {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.about {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team {
  background-color: var(--cloud);
}

.team-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-list-separate {
  background-color: var(--white);
}

.team-separate-name {
  color: var(--navyblue);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-separate-prof {
  color: var(--slate);
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background-color: var(--navyblue);
}

.footer-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.footer-logo-span {
  color: var(--cloud);
}

.footer-text {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-item-button {
  color: var(--iris);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.04em;
  background-color: var(--cloud);
}

.portfolio-item-button:hover,
.portfolio-item-button:focus {
  color: var(--white);
  background-color: var(--ocean);
}

.rows-list-item {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.rows-list-text {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}